---
layout: default
title: Marco Dinacci
---
<div id="home">
    <h1>Recent posts</h1>
    <p></p>
    <ul class="post-list">
        {% for post in site.posts limit: 8 %}
            <li><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d %Y' }}</time>
            <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <p>&rarr; <a href="/blog.html">Browse all {{ site.posts | size }} posts</a></p>
        <!--
    <h2>Recent Photos</h2>
    <section class="photos">
        {% include photos.html %}
    </section>
    -->
    <br>
    <h1>Projects</h1>
    <p></p>
    <section class="projects">
        {% include projects.html %}
    </section>
</div>
