@import "normalize.css";
@import "helpers.less";

body > * {
    clear: both;
    margin: 0 auto;
}

#main {
    clear: both;
    .main-box;
}

body > header {
    position: relative;
    .main-box;
}

body > header > nav {
    margin-left: auto;
    margin-right: auto;
    width:@site_width;
    text-align:center;
}

body > footer {
    .main-box;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

/*
html {
    width: 100%;
    height: 100%;
    .marginless;
} */

body {
    color: #333;
    font: 14px/20px 'Cantarell', sans-serif;//, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-y: scroll !important;
    text-rendering: optimizelegibility;
    width: 100%;
    background-image: url(../img/furley_bg.png); 
    background-repeat: repeat;
}

a {
    color: #4682b4;
    text-decoration: none;
}

a:hover {
    color: #87ceeb;
}

h1 {
    font-size: 26px;
    .text-header;
}

h2 {
    font-size: 24px;
    .text-header;
}

h3 {
    font-size: 20px;
    .text-header;
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
    font-weight:bold;
}

h4, h5, h6 {
    font-size: 16px;
    border-bottom:1px solid #ddd;
    font-weight:normal;
}

ul{
    //list-style-type: none;
}

pre {
    padding: 0 30px;
    .wrap;
}


div.projects > p {
    padding-bottom:20px;
}

#media_links {
    float:right;
    margin-right:0px;
}

#sitename {
    float:right;
    color:#333;
    font-size:120%;
}

div.highlight {
    margin: 5px;
    padding: 5px;
    .border-radius;
}

// Article
article {
    border-bottom: 1px dashed rgba(60, 60, 60, 0.15);
    margin-bottom: 40px
}

article > header {
    border-bottom: 1px solid #ddd;
    color: #999;
    font-size: 13px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
article > header > h2 {
    color: #333;
    margin: 0 0 5px 0;
}
article > header > h2 > a {
    color: #333 !important;
}
article img {
    display: block;
    margin: 10px auto;
}
article > footer {
    margin-top: 20px;
}

article > footer > p, article > footer > span {
    color: #999;
    font-size: 13px;
}

article > img {
    border: 1px solid #CCC;
    opacity: .9;
    filter: alpha(opacity=90);
}

article > img:hover {
    border-color: #AAA;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#like-and-subscribe {
    display: inline-block;
    float: right;
    margin-top: 0px;
}

/* Post and project lists */

/* Code outside a code block */
.simple {
    font: 13px/18px Menlo, Monaco, 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    background-color: #eee;
    .border-radius;
    padding: 3px;
    border: solid #ccc 1px;
}

.project-icon {
    width:40px;
    height:40px;
    padding-right:5px;
    vertical-align:middle;
    opacity: .9;
    filter: alpha(opacity=90);
}

.project-icon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/* Bootstrap-style boxes */

.success {
    .alert;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.headsup {
    .alert;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.warning {
    .alert;
}

.danger {
    .alert;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

/* Related posts stuff */

#related-posts {
    color: #333;
    font-size: 14px;
}
#related-posts h3 {
    padding-bottom: 10px;
}
#related-posts ul {
    padding-left: 40px;
}
#related-posts li > time {
    color: #999;
    font-size: 12px;
    margin-left: .4em;
    white-space: nowrap;
}

/* Post list */

ul.post-list {
    font-size: 16px;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
ul.post-list > li {
    border-bottom: 1px solid #ddd;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}
ul.post-list > li > time {
    color: #999;
    display: inline-block;
    float: right;
    font-family: Menlo, Monaco, 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    font-size: 12px;
    white-space: nowrap;

    /* For IE 7 */
    zoom: 1;
    *display: inline;
}

/* Blog Archive */

#blog-archive > h3 {
    color: #999;
    float: left;
}
#blog-archive > ul.post-list {
    margin-bottom: 0;
}
#blog-archive > ul.post-list > li {
    margin-left: 60px;
}

/* Project List */

div.project-list li {
    padding: 5px 0;
}
div.project-list h4 {
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    //margin-bottom: 5px;
    //padding-bottom: 5px;
}

/* Sharing section */

#sharing {
    margin-top:10px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#share-buttons {
    display: inline-block;
    height: 20px;
    padding: 0;
}

#share-buttons-label {
    display: inline-block;
    margin-right: 8px;
    vertical-align: 4px;
}

iframe.twitter-share-button {
    margin-right: 10px;
}

iframe.facebook-like-button {
    border: 0;
    height: 20px;
    margin-right: 9px;
    overflow: hidden;
    width: 50px;
}

span.IN-widget {
    margin-right: 10px;
}

iframe.twitter-follow-button {
    display: block;
    margin-top: 5px;
}

/* Thumbnails, like in bootstrap.css */
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  
  border: 1px solid #ddd;
  .border-radius();
  .box-shadow(0, 1px, 1px, 0.075);
}

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail .caption {
  padding: 9px;
}

/* Footer */
#copyright {
    font-size: 0.8em;
}

/* Disqus comments */

#disqus_thread {
    border-top: 4px solid #ddd;
}
#dsq-content {
    font-size: 13px !important;
}
#dsq-content #dsq-global-toolbar, #dsq-content ul.dsq-login-buttons, #dsq-content div.dsq-options,
#dsq-content #dsq-comments, #dsq-content #dsq-pagination {
    margin-bottom: 20px !important;
}
div.dsq-tooltip-small {
    width: auto;
}
#dsq-content ul.dsq-login-buttons {
    padding-top: 10px !important;
}
#dsq-comment-count {
    background: url('/resources/comment.png') no-repeat left top;
    padding-left: 20px;
    text-transform: lowercase;
    white-space: nowrap;
}
#dsq-footer a > em {
    text-decoration: none !important;
}
a.dsq-brlink {
    font-size: 13px !important;
}

/* Quick hacks ... */

.rightimagenoborder {
    border:0px;
    float:right;
    padding-left:15px;
    padding-top:10px;
    padding-bottom:10px;
}

.leftimagenoborder {
    border:0px;
    float:left;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
}

/* Brutal syntax hacks to revert text and background colors */
.highlight {background-color:white;}
.highlight .n {color:black;}
.highlight .nb {color:black;}
.highlight .o {color:gray;}
.highlight .p {color:navy;}
.highlight .mi {color:red;}

@import "mobile.less";
@import "syntax.css";
@import "mdpopup.css";
