<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1,
        maximum-scale=1, user-scalable=0" />
        <meta http-equiv="content-language" content="en" />
        <title>
            {% if page.title %}
            {{ page.title }} //
            {% endif %}  
            Marco Dinacci
        </title>
        <meta name="author" content="Marco Dinacci" />

        {% if page.summary %}
        <meta name="description" content="{{ page.summary }}" />
        {% endif %}

        {% if site.feedburner %}
        <link href="http://feeds.feedburner.com/{{site.feedburner.id}}" rel="alternate"
        title="{{ site.title }}" type="application/atom+xml" />
        {% endif %}

        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />

        {% for css in page.css %}
        <link rel="stylesheet" href="{{ css }}" type="text/css" />
        {% endfor %}

        {% if site.google_analytics %}
        <!-- google analytics async -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
        <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1>As you probably figured out in the first few milliseconds you
            looked at this page, this is not how the website should look like.
            Give me a few weeks.</h1>
        <div id="site">
            {{ content }}
        </div>

        {% include footer.html %}
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
